@import url(https://fonts.googleapis.com/css?family=Megrim);


/* WELCOME BUTTOONS */  

#welcomeRegButton,#welcomeLogButton {
    border-radius: 10px;
    background-color:#FF9F00;
    border-color: red;
    border:4px solid red;
    color: #000000;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    border-bottom-style: outset;
    
    border-bottom-width: 7px;
    border-radius: 25px;
    font-family:  cursive;
  }
  
  #welcomeRegButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #welcomeRegButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #welcomeRegButton:hover span {
    padding-right: 25px;
  }
  
  #welcomeRegButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  #welcomeLogButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #welcomeLogButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #welcomeLogButton:hover span {
    padding-right: 25px;
  }
  
  #welcomeLogButton:hover span:after {
    opacity: 1;
    right: 0;
  }


/*END WELCOME BUTTOONS */
#srandom ,#sstart ,#sreset{
    border-radius: 10px;
    background-color:#FF9F00;
    border-color: red;
    border:4px solid red;
    color: #000000;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-bottom-style: outset;
    
    border-bottom-width: 7px;
    border-radius: 25px;
    font-family:  cursive;
}

#srandom span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#srandom span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#srandom:hover span{
    padding-right: 25px;
}

#srandom:hover span:after {
    opacity: 1;
    right: 0;
  }

#sstart span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#sstart span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#sstart:hover span{
    padding-right: 25px;
}

#sstart:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  #sreset span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#sreset span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#sreset:hover span{
    padding-right: 25px;
}

#sreset:hover span:after {
    opacity: 1;
    right: 0;
  }  



#login_div_button ,#reg_div_button ,#regreset,#newGameButton{
    border-radius: 10px;
    background-color:#FF9F00;
    border-color: red;
    border:4px solid red;
    color: #000000;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-bottom-style: outset;
    
    border-bottom-width: 7px;
    border-radius: 25px;
    font-family:  cursive;
}

#login_div_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #login_div_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #login_div_button:hover span {
    padding-right: 25px;
  }
  
  #login_div_button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #reg_div_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #reg_div_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #reg_div_button:hover span {
    padding-right: 25px;
  }
  
  #reg_div_button:hover span:after {
    opacity: 1;
    right: 0;
  }

  

  #regreset span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #regreset span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #regreset:hover span {
    padding-right: 25px;
  }
  
  #regreset:hover span:after {
    opacity: 1;
    right: 0;
  }



#logoimg{
    width: 1000px;
    height:100px;
    margin-top: 1%;

}

#gameFrame_div{
    position: absolute;
    margin-left: 20%;
}
#game_wrapper {
    display: flex;
}
#game_settings {
    border: 1px solid black;
}

/* MENU STYLE !!!!!!!!!!!!! **/

#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	margin: 0;
    background-color: #292929;
    overflow: hidden;
    z-index:1;
}

nav
{
    position: absolute;
    top: 2%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
	background: #292929;
	
}

nav a
{
    position: relative;
    width: 14.28571429%;
    display: table-cell;
    text-align: center;
    color: #b9b9b9;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    transition: 0.2s ease color;
}


nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 2px;
    left: 8px;
    width: 10px;
    height: 10px;
}

nav a:after
{
    top: 10px;
    left: 20px;
    width: 8px;
    height: 8px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}
nav a:nth-child(4):before
{
    background-color: blue;
}

nav a:nth-child(4):after
{
    background-color: cyan;
}
nav a:nth-child(5):before
{
    background-color: orange;
}

nav a:nth-child(5):after
{
    background-color: orangered;
}
nav a:nth-child(6):before
{
    background-color: green;
}

nav a:nth-child(6):after
{
    background-color: greenyellow;
}
nav a:nth-child(7):before
{
    background-color: gold;
}

nav a:nth-child(7):after
{
    background-color: silver;
}



nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}



/* END MENU STYLE !!!!!!!!!!!!! **/



body{
     background-image: url(background2.jpg); 
     
    
}



/* ABOUT DIV */

#about_div {
    display: none; /* Hidden at start */
    position: fixed; /* Not moves */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full Screen */
    height: 100%; /* Full Screen */
    overflow: auto; /* Enable scroll  */
    
    background-color: rgba(9, 130, 243, 0.4); /* background color when about window open */
}

#about_div h3{
    color: #fffb00;
}

#about_div p{
    color: rgb(201, 202, 199);
}

#about_div h4{
    color: rgb(201, 202, 199);
}

header h2{
    color: rgb(201, 202, 199);
}




.modal-content {
    background-color: #222221;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation-name: animatetop;
    }

/* The Close Button */
.closeAbout {
    color: rgb(7, 0, 0);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.closeAbout:hover,
.close:focus {
    color: rgb(219, 10, 10);
    text-decoration: none;
    cursor: pointer;
}


/* INPUTS FIELDS */

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(201, 202, 199);
    
  }

  
input[type=color], select {
    width: 30%;
    
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(201, 202, 199);
  }
  input[type=number] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(201, 202, 199);
 }  

img {
    width: 38%; /* or any custom size */
    height: 35%; 
    object-fit: contain;
}

.footer {
    clear: both;
    position: fixed;
    height: 40px;
    bottom: 0;
    margin-top: -200px;
       /* Height of the footer */
    
    background: #87CEFA;
    
    
    width:100%;
    
    
    
 }


 fieldset {
    font-family: 'Brush Script MT', cursive;
  }
  
  legend {
    /* padding: 0.2em 0.5em; */
    color: #fffb00;
    font-size:180%;
    text-align:center;
    position: relative;
    
  }




  #clock_image{
    display: none;
  }

  #newGameButton{
    margin-top : 25px;
  }

  #reg_date_input{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(201, 202, 199);
  }

  h3{
    font-family: 'Megrim', cursive;
    font-size: x-large;
    color: rgb(201, 202, 199);
    margin: 20px 0;
  }
  


  p{
    font-family:  cursive;
  }



